# CMake/Intellij
CMakeLists.txt
cmake-build*
.idea

# Vim
*~
*.swp

# Build artifacts
*.o
*.bin
loader-elf
obfuscated_strings.h
kiteshield
hello_world*
loader/out/*
lib_depend_src/zstd/lib/obj/
combi*
